@font-face {
  font-family: "clock";
  src: url("/fonts/CursedTimerUlil-Aznm.ttf");
}

.buttons,
.new-game,
.startbtn,
.endbtn {
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 50px;
  width: 80px;
  height: 90px;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0);
}

.buttons:active,
.new-game:active,
.startbtn:active,
.endbtn:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.buttons:hover:not(:disabled),
.new-game:not(:disabled),
.startbtn:hover:not(:disabled),
.endbtn:hover:not(:disabled) {
  background: lightcoral;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.buttons:disabled,
.new-game:disabled {
  cursor: auto;
  color: grey;
}

#main {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#heading {
  text-align: center;
  color: white;
}

.name {
  display: flex;
  justify-content: space-around;
  color: aliceblue;

  width: 100%;
  height: 10%;
}

#scoreboard {
  width: 97%;
  height: 100%;
  background-image: linear-gradient(
    85.2deg,
    rgba(33, 3, 40, 1) 7.5%,
    rgba(65, 5, 72, 1) 88.7%
  );
  border: 5px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding: 10px;
}

.allscore {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 20%;
}

.timer {
  display: flex;
  justify-content: center;
  font-size: 50px;
  width: 100%;
  height: 80%;
  color: #dfd9d9;
}

.score {
  margin-top: 30px;
  font-family: clock;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 150px;
  height: 120px;
  border: 2px solid white;
  border-radius: 20px;
}

.timercontainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 30%;
}

.timer {
  font-family: clock;
}

.timerbutton {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
}

.startbtn {
  font-size: 20px;
  width: 100px;
  height: 50px;
}

.endbtn {
  font-size: 20px;
  width: 100px;
  height: 50px;
}

#buttons {
  display: flex;
  justify-content: space-around;
  height: 50%;
  width: 100%;
}

.homebuttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  gap: 50px;
}

#newgame {
  font-size: 100%;
  color: white;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.newgame {
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 40%;
  height: 100%;
}

.guestbuttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 50px;
}

.home-1-2 {
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.home-3-4 {
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.guest-1-2 {
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.guest-3-4 {
  display: flex;
  gap: 50px;
  flex-direction: column;
}
